<h1>MsPublishers#edit</h1>
<p>Find me in app/views/ms_publishers/edit.html.erb</p>

<%= form_for @ms_publisher do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.submit :save%>

    <% end %>