<h1>MsMembers#show</h1>
<p>Find me in app/views/ms_members/show.html.erb</p>

<label>Name :</label>
<%= @ms_member.name %>

<label>Age :</label>
<%= @ms_member.age %>

<label>Address :</label>
<%= @ms_member.address %>

<label>Phone :</label>
<%= @ms_member.phone %>

<label>Email :</label>
<%= @ms_member.email %>

