<h1>TrLoans#new</h1>
<p>Find me in app/views/tr_loans/new.html.erb</p>

<%= form_for @tr_loan do |f| %>
    <%= f.label :member_name %>
    <%= f.text_field :member_name %>
    <%= f.label :member_phone %>
    <%= f.text_field :member_phone %>
    <%= f.label :member_email %>
    <%= f.text_field :member_email %>
    <%= f.label :ms_book_id %>
    <%= f.text_field :ms_book_id %>
    <%= f.submit :save%>

    <% end %>