<nav class="navbar navbar-expand-lg navbar-light bg-white navbar-shadow">
    <a class="navbar-brand" href="#">
    <%= image_tag "nutrifood-logo-small.webp", class:"d-inline-block", alt:"Logo", width:"25%"%>
    <span>App Name</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item">
        <%= link_to "Master Members", ms_members_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
        <%= link_to "Master Books", ms_books_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
        <%= link_to "Transaction Loans", tr_loans_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
        <%= link_to "Master Publishers", ms_publishers_path, class: 'nav-link' %>
        </li>
        
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i> User Name
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Logout', destroy_ms_user_session_path, method: :delete %>        
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>